.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 220px;
  margin: 20px;
}

.image {
  width: 220px;
  border-radius: 10px 10px 0px 0px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  height: 230px;
  margin: 10px 0px 10px 00px;
}
.textWrapper {
  display: flex;
  flex-direction: column;
  height: 230px;
  margin: 10px 0px 10px 00px;
  overflow: hidden;
}

.name {
  font-weight: 600;
}

.description {
  font-weight: 300;
  font-size: 14px;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
